HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
/.idea/workspace.xml
/.idea/usage.statistics.xml
/.idea/shelf/
.idea/*
!.idea/codeStyles/
!.idea/dictionaries/
!.idea/inspectionProfiles/
!.idea/jdk.table.xml
!.idea/runConfigurations/
!*.iml

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

# General files to ignore
*.swp
*~
*.log

# Java bytecode
*.class

# Package files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Dependency-reduced POM
dependency-reduced-pom.xml

# Maven work directory
.work/
